ADDFITTING_ICO16				RCDATA	"Icons/AddFitting_ICO16.ico"
ADDFITTING_ICO32				RCDATA	"Icons/AddFitting_ICO16.ico"
AUTOLABEL_ICO16					RCDATA	"Icons/AutoLabel_ICO16.ico"
AUTOLABEL_ICO32					RCDATA	"Icons/AutoLabel_ICO16.ico"
CALCCOVERAGE_ICO16				RCDATA	"Icons/CalcCoverage_ICO16.ico"
CALCCOVERAGE_ICO32				RCDATA	"Icons/CalcCoverage_ICO16.ico"
TOGGLECOVERAGE_ICO16			RCDATA	"Icons/ToggleCoverage_ICO16.ico"
TOGGLECOVERAGE_ICO32			RCDATA	"Icons/ToggleCoverage_ICO16.ico"
TOGGLEDRAFTAID_ICO16			RCDATA	"Icons/ToggleDraftAid_ICO16.ico"
TOGGLEDRAFTAID_ICO32			RCDATA	"Icons/ToggleDraftAid_ICO16.ico"
XROOM_ICO16						RCDATA	"Icons/XRoom_ICO16.ico"
XROOM_ICO32						RCDATA	"Icons/XRoom_ICO16.ico"
REPLACEHEADS_ICO16				RCDATA	"Icons/ReplaceHeads_ICO16.ico"
REPLACEHEADS_ICO32				RCDATA	"Icons/ReplaceHeads_ICO16.ico"
COUNTHEADS_ICO16				RCDATA	"Icons/CountHeads_ICO16.ico"
COUNTHEADS_ICO32				RCDATA	"Icons/CountHeads_ICO16.ico"
DRAWPIPEMAIN_ICO16				RCDATA	"Icons/DrawPipeMain_ICO16.ico"
DRAWPIPEMAIN_ICO32				RCDATA	"Icons/DrawPipeMain_ICO16.ico"
DRAWPIPEBRANCHLINE_ICO16		RCDATA	"Icons/DrawPipeBranchline_ICO16.ico"
DRAWPIPEBRANCHLINE_ICO32		RCDATA	"Icons/DrawPipeBranchline_ICO16.ico"
DRAWPIPEARMOVER_ICO16			RCDATA	"Icons/DrawPipeArmover_ICO16.ico"
DRAWPIPEARMOVER_ICO32			RCDATA	"Icons/DrawPipeArmover_ICO16.ico"
DRAWPIPEDRAIN_ICO16				RCDATA	"Icons/DrawPipeDrain_ICO16.ico"
DRAWPIPEDRAIN_ICO32				RCDATA	"Icons/DrawPipeDrain_ICO16.ico"
DRAWDRAFTAID_ICO16				RCDATA	"Icons/DrawDraftAid_ICO16.ico"
DRAWDRAFTAID_ICO32				RCDATA	"Icons/DrawDraftAid_ICO16.ico"
TOGGLEPIPELABELS_ICO16			RCDATA	"Icons/TogglePipeLabels_ICO16.ico"
TOGGLEPIPELABELS_ICO32			RCDATA	"Icons/TogglePipeLabels_ICO16.ico"
TOGGLELINESMOOTHING_ICO16		RCDATA	"Icons/ToggleLineSmoothing_ICO16.ico"
TOGGLELINESMOOTHING_ICO32		RCDATA	"Icons/ToggleLineSmoothing_ICO16.ico"
TOGGLELINEWEIGHTDISPLAY_ICO16	RCDATA	"Icons/ToggleLineweightDisplay_ICO16.ico"
TOGGLELINEWEIGHTDISPLAY_ICO32	RCDATA	"Icons/ToggleLineweightDisplay_ICO16.ico"
GENERATECALCBACKGROUND_ICO16	RCDATA	"Icons/GenerateCalcBackground_ICO16.ico"
GENERATECALCBACKGROUND_ICO32	RCDATA	"Icons/GenerateCalcBackground_ICO16.ico"
AUTOCOUPLINGS_ICO16				RCDATA	"Icons/AutoCouplings_ICO16.ico"
AUTOCOUPLINGS_ICO32				RCDATA	"Icons/AutoCouplings_ICO16.ico"
CLEANUPDRAWORDER_ICO16			RCDATA	"Icons/CleanupDrawOrder_ICO16.ico"
CLEANUPDRAWORDER_ICO32			RCDATA	"Icons/CleanupDrawOrder_ICO16.ico"
TOGGLEXREF_ICO16				RCDATA	"Icons/ToggleXREF_ICO16.ico"
TOGGLEXREF_ICO32				RCDATA	"Icons/ToggleXREF_ICO16.ico"
ADDSPRINKLER_ICO16				RCDATA	"Icons/AddSprinkler_ICO16.ico"
ADDSPRINKLER_ICO32				RCDATA	"Icons/AddSprinkler_ICO16.ico"
TOGGLEHEADSNAP_ICO16			RCDATA	"Icons/ToggleSprinklerSnapOverrule_ICO16.ico"
TOGGLEHEADSNAP_ICO32			RCDATA	"Icons/ToggleSprinklerSnapOverrule_ICO16.ico"
TOGGLEXREFSNAP_ICO16			RCDATA	"Icons/ToggleXrefSnapOverrule_ICO16.ico"
TOGGLEXREFSNAP_ICO32			RCDATA	"Icons/ToggleXrefSnapOverrule_ICO16.ico"
TOGGLEXREFSELECTABLE_ICO16		RCDATA	"Icons/ToggleXrefSelectable_ICO16.ico"
TOGGLEXREFSELECTABLE_ICO32		RCDATA	"Icons/ToggleXrefSelectable_ICO16.ico"